<!DOCTYPE html>

<html>

  <head>
    <title>Audrey Carlsen</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "index", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Quicksand", type: "text/css", "data-turbolinks-track" => true %>

  </head>

  <body>
    <div id='title'>
      <h1 id='index_h1'>Aüdrey Carlšen</h1>
      <div id='index_h2'>
        <ul>
          <li><a href='/digital'>Digítal</a>  ~  </li>
          <li><a href='/radio'>Radiö </a>  ~  </li>
          <li><a href='http://thiscarletonlife.blogspot.com' target='_blank'>Podcåst</a> ~ </li>
          <li><a href='/blog'>Bløg</a></li>
          <li>~ <a href='/about'>Aboüt</a></li>
        </ul>
      </div>
    </div>

    <div class='social_media'>
      <a href='http://www.linkedin.com/pub/audrey-carlsen/63/294/96b' target="_blank" title="LinkedIn"><%= image_tag("linkedin.svg") %></a>
      <a href='https://twitter.com/audcarls' target="_blank" title="Twitter"><%= image_tag("twitter.svg") %></a>
      <a href='https://github.com/audreycarlsen' target="_blank" title="GitHub"><%= image_tag("github.svg") %></a>
    </div>
  </body>

</html>