<!DOCTYPE html>

<html>

  <head>
    <title>Audrey Carlsen</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "main",       media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Nunito:300", type: "text/css", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Quicksand:400,700", type: "text/css", "data-turbolinks-track" => true %>
  </head>

  <body>
    <div id='header'>
      <a href='/'>Audrey Carlsen</a>
    </div>

    <div class='container'>
      <div id='sidebar'>
        <ul>
          <li><a href='/digital'>Digital</a></li><br>
          <li><a href='/radio'>Radio</a></li><br>
          <li><a href='/code'>Code</a></li><br>
          <li><a href='/blog'>Blog</a></li><br>
          <li><a href='/about'>About</a></li>
          <% if session[:user_id] == 1 %>
            <li>( <%= link_to "Log Out", log_out_path%> )</li>
          <% end %>
        </ul>
      </div>

      <div class='box'>
        <%= yield %>
      </div>
    </div>

    <div class='social_media'>
      <a href='http://www.linkedin.com/pub/audrey-carlsen/63/294/96b' title="LinkedIn"><%= image_tag("linkedin.svg") %></a>
      <a href='https://twitter.com/audcarls' title="Twitter"><%= image_tag("twitter.svg") %></a>
      <a href='https://github.com/audreycarlsen' title="GitHub"><%= image_tag("github.svg") %></a>
    </div>
  </body>

</html>