<!DOCTYPE html>

<html>

  <head>
    <title>Audrey Carlsen</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "main",       media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Nunito:300", type: "text/css", "data-turbolinks-track" => true %>
  </head>

  <body>
    <div id='header'>
      <a href='/'>Aüdrey Carlšen</a>
    </div>

    <div class='container'>
      <div id='sidebar'>
        <ul>
          <li><a href='/digital'>Digital</a></li><br>
          <li><a href='/radio'>Radio</a></li><br>
          <li><a href='http://thiscarletonlife.blogspot.com' target='blank'>Podcast</a></li><br>
          <li><a href='/blog'>Blog</a></li><br>
          <li><a href='/about'>About</a></li>
        </ul>
      </div>

      <div class='box'>
        <%= yield %>
      </div>
    </div>

    <div class='social_media'>
      <%= link_to(image_tag("linkedin.svg"), 'http://www.linkedin.com/pub/audrey-carlsen/63/294/96b', :title => "LinkedIn")%>
      <%= link_to(image_tag("twitter.svg"),  'https://twitter.com/audcarls',                          :title => "Twitter")%>
      <%= link_to(image_tag("github.svg"),   'https://github.com/audreycarlsen',                      :title => "GitHub")%>
    </div>
  </body>

</html>